<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <title>Index</title>
    </head>
    <body>
    <div class="container">
        <div style="height: 300px"></div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">安心してください</h1>
                        </div>
                        <div class="panel-body"><h1>サーバ生きてますよ</h1></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </div>
    </body>
</html>