<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <title>Index</title>
        <style>
            html, body, .container{
                height: 100%;           /* 1 */
            }
            .container {
                display: flex;          /* 2 */
                justify-content: center;/* 3 */
                align-items: center;    /* 4 */
            }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">ご要望はこちらまで</h1>
                    </div>
                    <div class="panel-body">
                        <form action="/" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">ニックネーム</span>
                                    <input type="text" name="nickname" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">本文</span>
                                    <input type="text" name="body" class="form-control">
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-default">送信</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </div>
    </body>
</html>